body {
    background-color: #ffffff;
}
img {
     width: 700px;
     background-size: cover;
     background-color: blue;

}
section:nth-child(1){
    height: 100vh;
    background-color: rgb(95, 206, 95);
}
section:nth-child(2) {
  height: 100vh;
  background: orange;
}
section:nth-child(3) {
  height: 100vh;
  background: yellow;
}
#inicio a{
    position: sticky;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}
nav a{
    text-decoration: none;
    color: inherit;
}
header {
  background: rgb(147, 175, 206);
  height: 10vh;
  top: 0;
}