* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
}

header {
  background: rgb(147, 175, 206);
  height: 10vh;
  top: 0;
  text-align: center;
}

#inicio {
  height: 100vh;
  background-image: url("images/c3uhsgo1vx541.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.texto {
  position: absolute;
  top: 20%;
  left: 40%;
  color: rgba(255, 255, 255, 0.856);
  font-size: 50px;
}

#inicio nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

#inicio nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.808);
  padding: 5px;
  margin: 10px;
}

.meusProjetos {
  position: absolute;
  top: 43%;
  left: 43%;
  text-decoration: none;
  font-size: 30px;
  border-radius: 5px;
  padding: 30px;
  box-sizing: border-box;
  color: white;
  background-color: rgb(230, 168, 98);

}

#projetos {
  height: 100vh;
  background: rgb(153, 202, 185);
}

#projetos h1 {
  color: white;
  padding: 10px;
  font-size: 50px;
}

#projetos p {
  padding: 10px;
  font-size: 20px;
}

#projetos nav ul {
  list-style: none;
  padding: 10px;
  margin-top: 15%;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 10px;
}

#projetos a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  height: 100px;
  width: 250px;
  border: 2px solid rgb(67, 168, 89);
  border-radius: 10px;
  color: white;
  background-color: rgb(130, 218, 149);
}


#cadeira {
  height: 100vh;
  background: rgb(235, 207, 229);
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 600px) {


#projetos ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

  #cadeira {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

#cadeira img {
  width: 700px;
  background-size: cover;
  max-width: 100%;
}