h1{
    height: 50px;
    color: whitesmoke;
    text-align: center;
    padding: 25px;
    background-color: green;
    margin-bottom: 0px;
}
body{
    background-color: rgb(228, 226, 226);
}
main{
    padding: 25px;
    margin: 15px;
    background-color: white;
    border-radius: 10px;
}
nav{
    word-spacing: 20px;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
    background-color: rgb(53, 53, 53);
}
nav a{
    color : white;
    text-decoration: none;
}
footer{
    color: whitesmoke;
    padding: 5px;
    text-align: center;
    background-color: rgb(53, 53, 53);
}
img{
    margin-bottom: 20px;
}