h1 {
    height: 50px;
    color: whitesmoke;
    text-align: center;
    padding: 25px;
    background-color: green;
    margin-bottom: 0px;
}

body {
    background-color: rgb(228, 226, 226);
}

main {
    padding: 25px;
    margin: 15px;
    background-color: white;
    border-radius: 10px;
}

nav {
    word-spacing: 20px;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
    background-color: rgb(53, 53, 53);
}

nav a {
    color: white;
    text-decoration: none;
}

@media (max-width: 600px) {
    h1 {
        display: flex;
        justify-content: center;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }
    .imagemPrincipal{
        display: flex;
        justify-content: center;
    }
}

footer {
    color: whitesmoke;
    padding: 5px;
    text-align: center;
    background-color: rgb(53, 53, 53);
}

img {
    margin-bottom: 20px;
    max-width: 100%;
}

section {
    height: 100vh;
}


#localizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conteudoLocalizacao {
    display: flex;
    flex-direction: row;
}

#textoLocalizacao {
    max-width: 600px;
}

@media (max-width: 600px) {
    #conteudoLocalizacao {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

#mapa iframe {
    max-width: 100%;
}

header {
    grid-area: header;
}

nav {
    grid-area: menu;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.fotos {
    grid-area: fotos;
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header header header'
        'menu   main   fotos'
        'footer footer footer';
    min-height: 100vh;

    nav {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

    .fotos {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        padding-top: 50px;
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-areas:
            "header"
            "menu"
            "main"
            "fotos"
            "footer";
    }
    .fotos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}